{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HIUSMAGIA - Login{% endblock %}

{% block content %}
<div class="custom-margin-for-form">
    <!--Row starts-->
    <div class="row">
        <div class="col-lg-4">        
        </div>

        <div class="col-lg-4">
            <h2>KIRJAUDU</h2>
            {{ wtf.quick_form(form) }} 
            <br>
            <p>Unohditko salasana? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
            <p>Uusi käyttäjä? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>   
        </div>

        <div class="col-lg-4">        
        </div>
    </div>
    <!--Row ends--> 
</div> 
{% endblock %}