{% extends "layout.html" %}
{% block title %}
HIUSMAGIA parturi kampaamo
{% endblock %}

{% block content %}

    <!--Row starts-->
    <div class="row custom-margin-for-form">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
            <p></p>
            <form class="custom-form" action="" method="post">

                <h2>LISÄÄ PALVELU </h2>              

                    <div class="form-group row">
                        <!--<label class="col-sm-3 col-form-label">ID</label>-->
                        <!--service_id was before workout_id-->
                        <div class="col">
                            <!--<input id="workout_id" type="number" class="form-control" name="workout_id" id="workout_id" value="<?php echo $workout_id ?>" readonly />-->
                        </div>
                    </div>
                
                <div class="form-group row">
                    <!--<label class="col-sm-3 col-form-label">Päivämäärä</label>-->
                    <label class="col-sm-3 col-form-label">{{ form.date.label }}</label> 

                    <div class="col">
                        <!--<input type="date" class="form-control" name="date" id="date" value="<?php echo (isset($workout_id)) ? $date : "" ?>" />
                        <?php echo isset($error['date_error']) ? $error['date_error'] : ''; ?>-->                        
                        {{ form.date(id="date", class="form-control mr-5") }}                        
                    </div>
                </div>

                <div class="form-group row">
                    <!--<label class="col-sm-3 col-form-label">Ajankohta</label>-->
                    <label class="col-sm-3 col-form-label">{{ form.time.label }}</label>
                     
                    <div class="col">
                        <!--<input type="time" class="form-control" name="time" id="time" value="<?php echo (isset($workout_id)) ? $time : "" ?>" />
                        <?php echo isset($error['time_error']) ? $error['time_error'] : ''; ?>-->
                        {{ form.time(id="time", class="form-control mr-5") }} 
                    </div>
                </div>

                <div class="form-group row">
                    <!--<label class="col-sm-3 col-form-label">Liikuntalaji</label>-->
                    <label class="col-sm-3 col-form-label">{{ form.service.label }}</label>
                                     
                    <div class="col">
                        {{ form.service(id="service", class="form-control mr-5") }}                        
                    </div>
                </div>

                <div class="form-group row">
                    <!--<label class="col-sm-3 col-form-label">Ohjaaja</label>-->
                    <label class="col-sm-3 col-form-label">{{ form.hairdresser.label }}</label>
                    
                    <div class="col">
                        {{ form.hairdresser(id="hairdresser", class="form-control mr-5") }}
                        <!--<select id="trainer" class=form-control name="trainer" value="<?php echo (isset($workout_id)) ? $trainer : "" ?>">
                        </select>-->
                    </div>
                </div>
               
                {{ form.submit( class="btn btn-lg btn-block custom-outline-button", id="submit" ) }}  
                

                <p></p>
                {{ form.csrf_token }}
            </form>            
        </div>

        <div class="col-lg-2">
        </div>
    </div>
    <!--Row ends-->

{% endblock %}

<script type="text/javascript" src="trainer_select.js"></script>
<script type="text/javascript" src="free_slots_select.js"></script>