{% extends "layout.html" %}
{% block title %}
HIUSMAGIA parturi kampaamo
{% endblock %}

{% block content %}
    <h2 class="custom-txt-center custom-margin-bottom-4">TERVETULOA ADMINISTRAATTORIN SIVULLE</h2>  

    <!--Row starts-->
    <div class="row mt-5"> 
        <div class="col-sm-2">
        </div>

        <div class="col-sm-8">  
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">                
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between custom-bg-menu">
                        <div class="custom-text-white">
                            <h6 class="my-0"><script>showToday();</script></h6>
                            <small>VIIKKO <?php echo date("W");?></small>
                        </div>                   
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">                       
                        <div>
                            <h6 class="my-0 text-secondary">ADMIN: <span id="user_name"  style="color:black;">{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}</span>
                                </h6>
                        </div>                                                         
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">                       
                        <div>
                            <h6 class="my-0"><a href="{{ url_for('main.admin_page') }}" class="custom-ins-link">Muokaa ja peruuta palveluita</a></h6>
                            <small class="text-muted">Muokaa aikatauluja tai peruuta palveluita</small>
                        </div>                                                         
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><a href="{{ url_for('main.new_service') }}" class="custom-ins-link">Lisää uusi palvelu</a></h6>
                            <small class="text-muted">Lisää tietoa uudesta palvelusta aikatauluun</small>
                        </div>                    
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"><a href="{{ url_for('main.reservation_admin') }}" class="custom-ins-link">Näytä varaukset</a></h6>
                                <small class="text-muted">Näytä asiakkaiden varaukset</small>
                            </div>                    
                        </li>

                        <!--<li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><a href="" class="text-danger">Lisää uusi ohjaaja</a></h6>
                            <small class="text-muted">Lisää uusi ohjaaja työntekijätietokantaan</small>
                        </div>                    
                        </li>-->   
                        
                        <!--<li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><a href="get_participants.php" class="text-danger">Ilmoita aikataulun muutoksesta</a></h6>
                            <small class="text-muted">Lähetä viestejä aikataulun muutoksesta</small>
                        </div>                    
                        </li>-->  
                    </ul>               
                </div>
                
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-4 text-success">ASIAKKAIDEN VARAUKSET</h4>
                    <form>
                        <!--Row starts-->
                        <div class="row">
                            <form class="form-inline justify-content-center mt-4"  method="get">
                            
                                <div class="form-group justify-content-center col-md-6 mb-4">
                                    <!--<label class="mr-4">Alkaen</label>
                                    <input type="date" class="form-control mr-5" name="date_from" id="date_from">-->
                                    {{ form.date_from.label }}
                                    {{ form.date_from(id="date_from", class="form-control mr-5") }}                    
                                </div>  
                            
                            
                                <div class="form-group justify-content-center col-md-6 mb-4">
                                    <!--<label class="mr-4">Saakka</label>
                                    <input type="date" class="form-control mr-5" name="date_to" id="date_to">-->
                                    {{ form.date_to.label }}
                                    {{ form.date_to(id="date_to", class="form-control mr-5") }} 
                                </div>

                                <div class="form-group justify-content-center col-md-6 mb-4">
                                    <!--<label class="mr-4">Liikuntalaji</label>-->
                                    {{ form.service.label }}
                                    {{ form.service(id="service", class="form-control mr-5") }}                                                                                  
                                </div>  
                                                        
                                <div class="form-group justify-content-center col-md-6 mb-4">
                                    <!--<label class="mr-4">Ohjaaja</label>-->
                                    {{ form.hairdresser.label }}
                                    {{ form.hairdresser(id="hairdresser", class="form-control mr-5") }}                                                        
                                </div>
                            
                                <!--<div class="form-group justify-content-center col-md-12 mb-4">
                                    <button type="submit" name="submit" id="find_workouts" class="btn btn-block mt-0 custom-green-buy">Selaa treenien aikatauluja</button>    
                                    <button type="reset" name="submit" id="" class="btn btn-block mt-2 custom-outline-button">Nollaa kaikki kentät</button> 
                                </div>-->

                                <div class="form-group justify-content-center col-md-12 mb-4">
                                    {{ form.submit( class="btn btn-block mt-0 custom-green-buy", id="find_services" ) }}    
                                    <button type="reset" name="submit" id="" class="btn btn-block mt-2 custom-outline-button">Nollaa kaikki kentät</button> 
                                </div>                                
                            
                            </form>
                        </div>
                        <!--Row ends-->
                    </form>               
                    <p></p>
                </div>
            </div>            
        </div>

        <div class="col-sm-2">
        </div>
    </div>
    <!--Row ends-->

    <!--Row starts-->
    <div class="row">
        <div class="col-sm-12">
            <!--Table starts-->
                <div class="mb-3">
                    <div class="container">       
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead id="head_table">
                                               
                                </thead>

                                <tbody id="reservations_all">
                                </tbody>         
                            </table>           
                        </div>
                    </div>
                </div>
            <!--Table ends-->            
        </div>
    </div>
    <!--Row ends-->
    <script type="text/javascript" src="{{ url_for('static', filename='/js/show_reservation_admin.js') }}"></script>
{% endblock %}

<script type="text/javascript" src="admin_workouts_select.js"></script>
<script type="text/javascript" src="../forms/user_name.js"></script>