{% extends "layout.html" %}
{% block title %}
HIUSMAGIA parturi kampaamo
{% endblock %}
{% block content %}
    <div class="custom-adds">
        <div class="row">
        <div class="col-xl-8" style="color:white">
            <p style="font-size: 350%; font-family: 'Macondo', cursive;"> HIUSMAGIA </p>
            
            <p style="font-size: 200%; font-family: 'Fredericka the Great', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Codystar', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Rammetto One', cursive;"> HIUSMAGIA </p> 
            <p style="font-size: 200%; font-family: 'Marcellus SC', serif;"> HIUSMAGIA </p> 
            <p style="font-size: 220%; font-family: 'Train One', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Abril Fatface', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Bowlby One SC', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Abril Fatface', cursive;"> HIUSMAGIA </p>    
            <p style="font-size: 200%; font-family: 'Cagliostro', sans-serif;"> HIUSMAGIA </p> 
            <p style="font-size: 200%; font-family: 'Poller One', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Fascinate', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Libre Barcode 39 Extended Text', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Libre Barcode 39 Text', cursive;"> HIUSMAGIA </p>    
            
            <p style="font-size: 200%; font-family: 'Erica One', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'GFS Neohellenic', sans-serif;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Pompiere', cursive;"> HIUSMAGIA </p>
            <p style="font-size: 200%; font-family: 'Mukta Vaani', sans-serif;"> HIUSMAGIA </p>   
        </div> 

        <div class="col-xl-4">
            <div class="custom-div-adds"><span class="custom-span-adds">UUSILLE ASIAKKAILLE<br></span><h1>1 ILMAINEN TUNTI</h1><span class="custom-span-adds-red">PERSONAL TRAINERIN<br></span><span class="custom-span-adds">KANSSA <i class="bi bi-tag-fill"></i></span>
            </div>
        </div> 
        </div>     
    </div>      

    <!--Row starts-->
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l" ><div class="custom-cart-title-wrap">Pilates</div></div>
                <div class="col-xl-5 custom-cart-title-r" ><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/pilates.jpeg/') }}" alt=""> 
                    <div class="custom-top-right"><h3>60€/kk</h3></div> 
                                            
                    <div class="custom-overlay">                   
                        <div class="custom-image-text">
                        Pilates on kehonhallintatekniikka, 
                        joka vahvistaa keskivartalon syviä lihaksia, 
                        syventää hengitystä ja opettaa liikkumaan fysiologisesti oikein.                
                        </div>                    
                    </div>                
            </div>                    
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l"><div class="custom-cart-title-wrap">Jooga</div></div>
                <div class="col-xl-5 custom-cart-title-r"><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/jooga.jpeg/') }}" alt=""> 
                    <div class="custom-top-right"><h3>30€/kk</h3></div>
                    <div class="custom-overlay">
                        <div class="custom-image-text">
                        Joogaan kuuluu asentoharjoituksia ja meditaatiota, 
                        ja sen harjoittaminen on monille kehollista terapiaa ja rentoutumista.               
                        </div>
                    </div>
            </div>                    
        </div>  
    </div>
    <!--Row ends-->

    <!--Row starts-->
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l"><div class="custom-cart-title-wrap">Personal trainer</div></div>
                <div class="col-xl-5 custom-cart-title-r"><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/ohjaaja.jpg/') }}" alt="">
                    <div class="custom-top-right"><h3>30€/t</h3></div> 
                    <div class="custom-overlay">
                        <div class="custom-image-text">
                        Kun haluat suunnitelmallista ja yksilöllistä ohjausta, ammattitaitoinen ja 
                        motivoiva personal trainer auttaa sinut saavuttaa tavoitteesi.                                                             
                        </div>
                    </div>
            </div>                    
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l"><div class="custom-cart-title-wrap">Hieronta</div></div>
                <div class="col-xl-5 custom-cart-title-r"><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/hieronta.jpeg/') }}" alt=""> 
                    <div class="custom-top-right"><h3>25€/t</h3></div>
                    <div class="custom-overlay">
                        <div class="custom-image-text">
                        Tarjoamme laadukkaita hierontapalveluita. Hieronta tehostaa aineenvaihduntaa 
                        ja vilkastuttaa verenkiertoa iästä riippumatta.               
                        </div>
                    </div>
            </div>                    
        </div>  
    </div>
    <!--Row ends-->

    <!--Row starts-->
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l"><div class="custom-cart-title-wrap">Zumba</div></div>
                <div class="col-xl-5 custom-cart-title-r"><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/zumba.jpeg/') }}" alt="">
                    <div class="custom-top-right"><h3>60€/kk</h3></div> 
                    <div class="custom-overlay">
                        <div class="custom-image-text">
                        Zumba on aerobicinen fitness-ohjelma, jonka musiikki perustuu pääosin latinalaistansseihin.
                        Tunti koostuu intervallityyppisestä ohjelmasta.               
                        </div>
                    </div>
            </div>                    
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-7 custom-cart-title-l"><div class="custom-cart-title-wrap">Kausikortti</div></div>
                <div class="col-xl-5 custom-cart-title-r"><a href="" class="custom-cart">OSTAA</a></div>
            </div>  
            <div class="custom-container"><img class="custom-product" src="{{ url_for('static', filename='/pics/kausikortti.jpeg/') }}" alt="">
                    <div class="custom-top-right"><h3>90€/kk</h3></div> 
                    <div class="custom-overlay">
                        <div class="custom-image-text">
                        Kausikortilla pääset treenaamaan kaikissa meidän saleissa ja liikuntaryhmissä rajattomasti.
                        Kortin saat ensimmäisellä käyntikerralla.              
                        </div>
                    </div>
            </div>                    
        </div>  
    </div>
    <!--Row ends-->      
{% endblock %}

<script type="text/javascript" src="cart/put_product_cart.js"></script>