<p>Hyvä {{ user.username }},</p>
<p>Voit nollata salasanasi napsauttamalla seuraavaa <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">linkkiä</a>.</p>
<p>Vaihtoehtoisesti voit liittää seuraavan linkin selaimesi osoiteriville:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Jos et ole pyytänyt salasanan nollaamista, ohita tämä viesti.</p>
<p>Ystävällisin terveisin,</p>
<p>HIUSMAGIAN tiimi</p>
<p><small>Huom: Tähän sähköpostiosoitteeseen lähetettyjä viestejä ei tarkisteta.</small></p>
